<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        main{
            margin: 0 auto;
            text-align: center;
            padding-top: 10px;
        }

        main .cards {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            margin: 5px 20px;
        }

        main .cards>form {
            margin: 5px 20px;
        }

        main .cards>form>div {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <main>
        <h1>Ninja Money</h1>
        <h3>Cantidad de Oro: {{contador}}</h3>
        <button class="btn btn-info">Reiniciar</button>
        <div class="cards">
            <form action='process_money' method='post' class="card" style="width: 20%;">
                {% csrf_token %}
                <input type="hidden" name="opcion" value="granja">
                <img src="{% static 'img/granja.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Granja</h5>
                    <p class="card-text">Gana 10-20 Oro</p>
                    <button class="btn btn-primary" type="submit">Inténtalo</button>
                </div>
            </form>
            <form action='process_money' method='post' class="card" style="width: 20%;">
                {% csrf_token %}
                <input type="hidden" name="opcion" value="granja">
                <img src="{% static 'img/cueva.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cueva</h5>
                    <p class="card-text">Gana 5-10 Oro</p>
                    <button class="btn btn-primary" type="submit">Inténtalo</button>
                </div>
            </form>
            <form action='process_money' method='post' class="card" style="width: 20%;">
                {% csrf_token %}
                <input type="hidden" name="opcion" value="casa">
                <img src="{% static 'img/casa.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Casa</h5>
                    <p class="card-text">Gana 2-5 Oro</p>
                    <button class="btn btn-primary" type="submit">Inténtalo</button>
                </div>
            </form>
            <form action='process_money' method='post' class="card" style="width: 20%;">
                {% csrf_token %}
                <input type="hidden" name="opcion" value="casino">
                <img src="{% static 'img/casino.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Casino</h5>
                    <p class="card-text">Gana o pierde 50 Oro</p>
                    <button class="btn btn-primary" type="submit">Inténtalo</button>
                </div>
            </form>
        </div>

        <div>
            <h3>Actividades</h3>
            <ul>
                {% for log in request.sections.context %}
                  <li>
                      <p color = "{{log.color}}"> </p>{{log.texto}}
                  </li>
                {% endfor %}
            </ul>

            </div>
            {{texto}}
        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>


</body>

</html>