<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
</head>

<body>
    <main>
        <h1>Ninja Money Yamila Gorrin&#169; </h1>

        {% for log in request.session.logs%}
            {% if forloop.last %}
                <h3>Cantidad de Oro: {{log.contador}} </h3>
            {% endif %}
        {% endfor %}

        <a href="/vaciar_datos/" class="btn btn-info btn-lg boton">Start</a><hr>

        <div class="cards">
            <form action='/crear_datos/' method='post' class="card" style="width: 20%;">
                {% csrf_token %}
                <input type="hidden" name="opcion" value="granja">
                <img src="{% static 'img/granja.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Granja</h5>
                    <p class="card-text">Gana 10-20 Oro</p>
                    <button class="btn btn-primary" type="submit">Inténtalo</button>
                </div>
            </form>
            <form action='/crear_datos/' method='post' class="card" style="width: 20%;">
                {% csrf_token %}
                <input type="hidden" name="opcion" value="cueva">
                <img src="{% static 'img/cueva.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cueva</h5>
                    <p class="card-text">Gana 5-10 Oro</p>
                    <button class="btn btn-primary" type="submit">Inténtalo</button>
                </div>
            </form>
            <form action='/crear_datos/' method='post' class="card" style="width: 20%;">
                {% csrf_token %}
                <input type="hidden" name="opcion" value="casa">
                <img src="{% static 'img/casa.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Casa</h5>
                    <p class="card-text">Gana 2-5 Oro</p>
                    <button class="btn btn-primary" type="submit">Inténtalo</button>
                </div>
            </form>
            <form action='/crear_datos/' method='post' class="card" style="width: 20%;">
                {% csrf_token %}
                <input type="hidden" name="opcion" value="casino">
                <img src="{% static 'img/casino.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Casino</h5>
                    <p class="card-text">Gana o pierde 50 Oro</p>
                    <button class="btn btn-primary" type="submit">Inténtalo</button>
                </div>
            </form>
        </div>

        <h3>Actividades</h3>
        <div class="actividades">
            <ul>
                {% for log in request.session.logs reversed%}
                    <li class="{{log.color}}">Juego #{{log.contador1}} {{log.texto}}, Record: {{log.contador}} </li>
                {% endfor %}
            </ul>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>